

<style type="text/css">
  .form-inline .form-group input {
    width:140px;
  }
  #emailForm, #queryForm{ width:340px;}
</style>


<h1>New request</h1>

<%= render 'form' %>

<%= link_to 'Back', requests_path %>
